@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lato:wght@300&family=Merriweather:wght@300&family=Nunito+Sans:opsz,wght@6..12,300&family=Nunito:wght@200&family=PT+Sans:ital@1&family=Poppins:wght@300;400&family=Ubuntu&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Nunito", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.about-container .center{
    text-align: center;
    margin: 1.5rem;
}

.info-about{
    margin: 1.5rem;
}

.about-container img{
    width: 12%;
    margin-top: 1rem;
    
}